/**图片放大动画**/
.post-content img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: 1.25rem auto;
    border-radius: 13px;
    box-shadow: 1px 1px 8px 2px #888888;
    transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
}
.post-content img:hover {
    transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
    transform: scale(1.05);
}
/**页脚裙子**/
#dress {
    background: url(https://cdn.defectink.com/images/footer.png) no-repeat 50%;
    height: 360px;
    z-index: 100;
    position: absolute;
    bottom: 1px;
    width: 100%;
    pointer-events: none;
}
#wrap {
    padding: 0 0 13rem 0;
}
/**鼠标样式**/
body {
    cursor: url(https://cdn.defectink.com/images/cursor/normal.png), auto;
}
#index a, #index a:link, #index a: {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
img[data-action="zoom"] {
    cursor: url(https://cdn.defectink.com/images/cursor/check_img.png), pointer !important;
    cursor: url(https://cdn.defectink.com/images/cursor/check_img.png), -webkit-zoom-in !important;
    cursor: url(https://cdn.defectink.com/images/cursor/check_img.png), -moz-zoom-in;
}
p {
    cursor: url(https://cdn.defectink.com/images/cursor/check_text.png), auto;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer;
    text-decoration: underline;
}
code {
    cursor: url(https://cdn.defectink.com/images/cursor/check_text.png), auto;
}
blockquote {
    cursor: url(https://cdn.defectink.com/images/cursor/check_text.png), auto;
}
.post-content .content-tabs .content-tabs-head, .comment-content .content-tabs .content-tabs-head {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
input[type="checkbox"] {
    cursor: url(https://cdn.defectink.com/images/cursor/normal.png), auto;
}
li {
    cursor: url(https://cdn.defectink.com/images/cursor/check_text.png), auto;
}
li.task-list-item {
    cursor: url(https://cdn.defectink.com/images/cursor/normal.png), pointer !important;
}
#comments .comment-list li.comment-body {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
#comments a, #comments a:link, #comments a:visited {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
textarea#textarea {
    cursor: url(https://cdn.defectink.com/images/cursor/check_text.png), auto;
}
#comment-form #submit.button {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
body.theme-white .OwO .OwO-logo {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
#comments .comment-mail-me label {
    cursor: url(https://cdn.defectink.com/images/cursor/normal.png), auto;
}
span.toc {
    cursor: url(https://cdn.defectink.com/images/cursor/check.png), pointer !important;
}
/* ol and ul*/
.row a {
   background-color: transparent;
   text-decoration: none;
   color: #00f4e8;
   transition: all .12s;
}
.row li:hover {
   text-shadow: 3px 3px 2px #2f2f2f57;
}
  /*ol使用css排序进行定义序号*/
.row ol {
   counter-reset: xxx 0 !important;
}
.row ol li:before {
   content: counter(xxx,decimal) "." !important;
   counter-increment: xxx 1 !important; 
   position:absolute;
   font-family:'Comic Sans MS','Open Sans','Microsoft Yahei','Microsoft Yahei',-apple-system,sans-serif !important;
   color:#000;
   top:0;
   left:0;
   text-align:center;
   font-size:1.2em;
   opacity:.5;
   /*使用行高来调整前缀的位置*/
   line-height:1.54;
   text-shadow:4px 4px 1px rgba(0,0,0,.1);
   -webkit-transition:.5s;transition:.5s
}
.row ol li:hover:before {
   -webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);
   opacity:1;
   text-shadow:2px 2px 1px rgba(0,0,0,.1);
   -webkit-transition:.1s;transition:.1s
}
.row ol li {
   list-style:none;
   position:relative;
   padding:0 0 0 2.1em;
   margin:0 0 0 10px;
   text-shadow:0px 0px 0px rgba(0,0,0,.1);
   -webkit-transition:.12s;transition:.12s;
}
   /*ul使用插入圆点来模拟无序列表*/
.row ul  li:before {
   position:absolute;
   content:'\2022';
   font-family:Arial;
   color:#000;
   top:0;
   left:0;
   text-align:center;
   font-size:1.5em;
   opacity:.5;
   /*使用行高来调整前缀的位置*/
   line-height:1.35;
   text-shadow:4px 4px 1px rgba(0,0,0,.1);
   -webkit-transition:.5s;transition:.5s
}
.row ul li:hover:before {
   -webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);
   opacity:1;
   text-shadow:2px 2px 1px rgba(0,0,0,.1);
   -webkit-transition:.1s;transition:.1s
}
.row ul li {
   list-style:none;
   position:relative;
   padding:0 0 0 1.5em;
   margin:0 0 0 10px;
   text-shadow:0px 0px 0px rgba(0,0,0,.1);
   -webkit-transition:.12s;transition:.12s;
}
/*上下篇的动画*/
span.post-near-span {
    transition: 0.3s;
}
span.post-near-span:hover {
    -webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);
    opacity:1;
    text-shadow:4px 4px 1px rgba(0,0,0,.1);
    -webkit-transition:.1s;transition:0.3s
}